<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{{- with .Site.Params.themeColor }}
		<meta name="theme-color" content="{{.}}">
		<meta name="msapplication-TileColor" content="{{.}}">
		{{- end }}
		{{- partial "structured-data.html" . }}
		{{- partial "favicons.html" }}
		<title>{{.Title}}</title>
		{{ range .AlternativeOutputFormats -}}
			{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Title | safeHTML }}
		{{ end -}}
		{{ $style := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "css/style.css" . | toCSS | minify | fingerprint -}}
		<link rel="stylesheet" href="{{ $style.Permalink }}">
		{{- block "head" . -}}{{- end }}
		{{- range .Site.Params.customCSS }}
		<link rel="stylesheet" href="{{ . | absURL }}">
		{{- end }}
		{{- if templates.Exists "partials/extra-head.html" -}}
		{{ partial "extra-head.html" . }}
		{{- end }}

		{{ template "_internal/google_analytics.html" . }}
	</head>

	<body id="page">
		{{ block "header" . -}}{{ end -}}
		{{ block "main" . -}}{{ end -}}

		<footer id="site-footer" class="section-inner thin animated fadeIn faster">
			<p>
				&copy; {{ now.Format "2006" }} <a href="{{ .Site.BaseURL }}">{{ .Site.Author.name }}</a>{{ .Site.Params.footerCopyright | safeHTML }}
				{{- with (not (in (.Site.Language.Get "disableKinds") "RSS")) }} &#183; <a href="{{ "rss.xml" | absLangURL }}" target="_blank" title="rss"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rss"><path d="M4 11a9 9 0 0 1 9 9"></path><path d="M4 4a16 16 0 0 1 16 16"></path><circle cx="5" cy="19" r="1"></circle></svg></a>{{ end }}
			</p>
		</footer>

		{{ $main := resources.Get "js/main.js" -}}
		{{ if .Site.Params.code_copy_button | default true -}}
			{{ $codeCopy := resources.Get "js/code-copy.js" -}}
			{{ $script := slice $main $codeCopy | resources.Concat "js/bundle.js" | minify | fingerprint -}}
			<script src="{{ $script.Permalink }}"></script>
		{{ else -}}
			{{ $script := $main | minify | fingerprint -}}
			<script src="{{ $script.Permalink }}"></script>
		{{ end }}

		{{- partial "analytics.html" . }}
		{{- if templates.Exists "partials/extra-foot.html" -}}
		{{ partial "extra-foot.html" . }}
		{{- end }}
	</body>
</html>
